---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glycemic Index Search</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body
    class="flex flex-col items-center justify-center h-screen overflow-hidden bg-[#F5F7FA]"
  >
    <slot />
  </body>
</html>
